<div class="jumbotron bg-danger text-white p-3">
  <h1>Input Output properties</h1>
</div>
<!--<div><h1>{{abc}}</h1></div>-->


<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>CusID</th>
          <th>CusName</th>
          <th>CusAddress</th>
        </tr>
        </thead>
        <tbody>

        <tr (click)="selectDetails(CusID)">
          <td>{{CusID}}</td>
          <td>{{CusName}}</td>
          <td>{{CusAddress}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
