<header class="container-fluid jumbotron p-3">
  <h1>Customer Manage</h1>
</header>
<section class="container">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="cusID">Customer ID</label>
        <input  type="text" id="cusID" class="form-control" [(ngModel)]="id" placeholder="{{cusId}}">
      </div>
      <div class="form-group">
        <label for="cusName">Customer Name</label>
        <input  type="text" id="cusName" class="form-control" [(ngModel)]="name" placeholder="{{cusName}}">
      </div>
      <div class="form-group">
        <label for="cusAddress">Customer Address</label>
        <input  type="text" id="cusAddress" class="form-control" [(ngModel)]="address" placeholder="{{cusAddress}}">
      </div>
      <button class="btn btn-primary" (click)="addDetails()">Save Customer</button>
    </div>

    <div class="col-12 mt-3">
      <table class="table table-bordered table-hover bg-danger text-white">
        <thead>
        <tr>
          <td>Customer ID</td>
          <td>Customer Name</td>
          <td>Customer Address</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cus of customers" (click)="getValues(cus)">
        <td>{{cus.id}}</td>
        <td>{{cus.name}}</td>
        <td>{{cus.address}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
